---

---

<section class="w-full max-w-6xl mx-auto p-20 h-[100vh]">
    <h3 class="uppercase text-center text-balance text-4xl font-semibold tracking-wide">Guía de la 3ª edición de los premios ESLAND</h3>
    <lite-youtube 
    class="shadow-2xl shadow-whte/10 rounded"
    videoid="nYPVr2IYTtk"
    video-title="Guía de la 3ª edición de los premios ESLAND"

    ></lite-youtube>

</section>
<script>
    import "@justinribeiro/lite-youtube";
</script>