<div class="w-full relative">
    <img src="/logo-home.svg"
    alt="Esland - Premios a la comunidad hispanohablante de Streamers"
    class="absolute top-10 z-10 w-[1000px] left-0 right-0 m-auto" />
    <video
        src="/video.mp4"
        autoplay
        loop
        muted
        class="w-full h-screen object-cover object-top animate-ease animate-fade animate-duration-1000"
        style="clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 50% 100%, 0 85%);"
    >
    </video>
    <video
        src="/video.mp4"
        autoplay
        loop
        muted
        class="absolute -buttom-48 blur-3xl -z-40"
    >
    </video>
</div>
